.page-container{
  position: relative;
  width: 182vh;
  text-align: center;
}

.page-btn{
  border-radius: 50%;
  padding: 8px 12px;
  margin: 0 2px;
  font-family: courier;
  font-size: 12px;
  font-weight: 500;
  opacity: 0.8;
  color: aliceblue;
  background-color: rgb(3, 3, 3);
}

.page-btn:hover{
  opacity: 1;
  font-weight: bold;
  color: rgb(236, 47, 47);
  border-color: rgb(236, 80, 80);
}

.page-btn:focus{
  opacity: 1;
  font-weight: bold;
  color: rgb(236, 47, 47);
  border-color: rgb(236, 80, 80);
}

.page-btn-prv{
  border-radius: 50%;
  padding: 8px 12px;
  margin: 0 2px;
  font-family: courier;
  font-size: 12px;
  font-weight: 500;
  opacity: 0.8;
  color: aliceblue;
  background-color: rgb(3, 3, 3);
}
.page-btn-prv:hover{
  opacity: 1;
  font-weight: bold;
  color: rgb(236, 47, 47);
  border-color: rgb(236, 80, 80);
}

.page-btn-nxt{
  border-radius: 50%;
  padding: 8px 12px;
  margin: 0 2px;
  font-family: courier;
  font-size: 12px;
  font-weight: 500;
  opacity: 0.8;
  color: aliceblue;
  background-color: rgb(3, 3, 3);
}
.page-btn-nxt:hover{
  opacity: 1;
  font-weight: bold;
  color: rgb(236, 47, 47);
  border-color: rgb(236, 80, 80);
}
