.search{
  width: 140vh;
  display: inline-flex;
  vertical-align: middle;
}

.search-input{
  display: inline-flex;
  input{
    border-radius: 16px;
    height: 26px;
    padding-left: 40px;
    width: 130vh;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 16px;
    line-height: 2px;
    border: transparent;
    letter-spacing: 2px;
    outline: 0;
    background-color: #f5f5f5;
  }
}

.search-icon{
  position: absolute;
  svg{
    color: red;
    vertical-align: top;
    padding-left: 8px;
    padding-top: 2px;
  }
}

.data-result{

}
