.container-header{
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.logo{
  background-image: '../images/logo.png';
  margin-left: 80px;
}

.container-login{
cursor: pointer;
font-size: 16px;
}

.container-log-btn{
  display: inline-flex;
  margin-right: 80px;
}

.container-btn {
  text-align: center;
  margin: 16px;
}
.btn-freeTrial{
  padding: 8px 20px;
  color: white;
  font-weight: 500;
  background-color: rgba(243, 60, 60, 0.986);
  border-radius: 20px;
  border: transparent;
  cursor: pointer;
  font-size: 16px;
  height: 35px;
}

.btn-freeTrial :hover{
    background-color: red;
    color: rgb(226, 226, 226);
  }
