.series-icon2{
  cursor: pointer;
  font-size: 16px;
  display: inline-flex;
  background-color: red;
  padding-left: 8px;
  text-decoration: none;

  // opacity: 0.7;
  h2{
    font-size: 16px;
    padding: 0px 8px;
    line-height: 40px;
    color: white;

    text-decoration: none;
  }
  img{
    height: 16px;
    padding-top: 24px;
    color: white;
  }
}


.movie-icon2{
  cursor: pointer;
  font-size: 16px;
  display: inline-flex;
  // background-color: red;
  padding-left: 8px;
  text-decoration: none;

  opacity: 0.7;
  h2{
    font-size: 16px;
    padding: 0px 8px;
    line-height: 40px;
    color: white;

    text-decoration: none;
  }
  img{
    height: 16px;
    padding-top: 24px;
    color: white;
  }
}

.series-card-container{
  display: flex;
  flex-wrap: wrap;
}

.filter-container{
  display: flex;
  position: absolute;
  top: 8px;
  right: 373px;
}

.filter {
  cursor: pointer;
  font-size: 16px;
  display: inline-flex;
  line-height: 4pc;
  padding-left: 8px;
  h2{
    font-size: 16px;
    padding: 0px 8px;
    opacity: 0.7;
    color: aliceblue;
    line-height: 40px;
  }
  img{
    height: 16px;
    opacity: 0.7;
    padding-top: 24px;
  }
}
.filter:focus{
  background-color: gray;
  background: gray;
}

.icon-container{
  position: absolute;
  top: 8px;
  left: 448px;
}
.container-search1{
    position: relative;
    width: 184vh;
    height: 126vh;
}
.series-header{
  position: relative;
  margin-left: 13vh;
}

.cont{
  position: relative;
  top: -75px;
  left: 80px;
  width: 184vh;
}

.footer-ctn{
  position: relative;
  bottom: -60px;
  padding-bottom: 8px;
}
