.date-container{
  width: 20%;
}
.date-search-container{
  background-color: red;
  height: 8vh;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
  line-height: 8vh;

}
.date-container{
  padding-right: 94px;
}

.search-bar{
  padding-left: 82px;
}

.movie-card-container{
  cursor: pointer;
  grid-template-columns: repeat(auto-fill, minmax(220px));
  display: flex;
  flex-flow: wrap;



}

.description-card{
  background-color: rgb(3, 3, 3);
  text-align: center;
  position: relative;
  opacity: 0.7;
  top: 135px;
}

.movie-image-card{
  width: 20%;
  height: 40%;
  position: absolute;
  img{
    height: 72vh;
  }
}

.movie-card{
margin: 2px;
height: 420px;
width: 300px;

}

.container{

  width: 92%;
  margin-left: 4%;
}
