.date-container{
  width: 20%;
}
.date-search-container{
  background-color: red;
  height: 8vh;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
  line-height: 8vh;

}
.date-container{
  padding-right: 94px;
}

.search-bar{
  padding-left: 82px;
}

.movie-card-container{
  background-color: white;
}

.description-card{
  width: 20%;
  background-color: red;
  text-align: center;
  position: relative;
  opacity: 0.3;
}

.movie-image-card{
  width: 20%;
  height: 40%;
  position: absolute;
  img{
    height: 70vh;
  }
}

.movie-card{
margin: 2px;
height: 420;
}
