.search{
  vertical-align: middle;
}

.search-input{
  display: inline-flex;
  input{
    border-radius: 16px;
    height: 26px;
    padding-left: 40px;
    width: 130vh;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 16px;
    line-height: 2px;
    border: transparent;
    letter-spacing: 2px;
    outline: 0;
    background-color: #f5f5f5;
  }
}

.search-icon{
  position: absolute;
  svg{
    color: red;
    vertical-align: top;
    padding-left: 8px;
    padding-top: 2px;
  }
}

.date-container{
  width: 20%;
}
.date-search-container{
  background-color: red;
  height: 8vh;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
  line-height: 8vh;

}
.date-container{
  padding-right: 94px;
  left: 155vh;
  position: absolute;
}

.search-bar{
  padding-left: 82px;
}


.movie-search-card-container{
  cursor: pointer;
  grid-template-columns: repeat(auto-fill, minmax(220px));
  display: flex;
  flex-flow: wrap;
  top: 12vh;
  position: relative;
}

.description-search-card{

  text-align: center;
  position: relative;

  top: 135px;
  width: 37vh;
  height: 31vh;

}

.movie-search-image-card{
  width: 41vh;
  height: 55vh;
  position: absolute;
  img{
    height: 55.5vh;
  }
}

.movie-search-card{
margin: 2px;
height: 54vh;
width: 36vh;
cursor: auto;
}
.movie-search-card:hover{
  .card-search-info{
    display: block;
    transition: 0.5s ease-in-out;
  }
  .initial-search-title{
    display: none;
    transition: 0.5s ease-in-out;
  }
}

.container-search{
  width: 92%;
}

.card-search-info{
  height: 32.2vh;
  width: 37vh;
  font: message-box;
  display: none;
  background-color: #333;
  opacity: 0.7;


  h1{
    font-size: 16px;
    padding-top: 4px;
    opacity: 1;
    padding: 8px;
  }
  h2{
    font-size: 12px;
    opacity: 1;
  }
  p{
    font-size: 12px;
    padding: 0px 20px;
    opacity: 1;
  }
}

.initial-search-title{
  background-color: #333;
  opacity: 0.7;
  font: message-box;
  display: inline-flexbox;
  position: absolute;
  text-align: center;
  bottom: -18px;
  width: 37vh;

  h1{
    font-size: 16px;
    // padding-top: 4px;
  }
}

.search-input:active{
  .props h1{
    display: none;
  }
}

.props {
  position: relative;
}
