
.date-picker{
  width: 95%;
  border-radius: 20px;
  height: 26px;
  outline: none;
  border: none;
  text-align: center;
  background-color: #f5f5f5;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 16px;
  line-height: 2px;
  letter-spacing: 2px;
  outline: 0;
}

.react-datepicker{
  text-align: center;
  width: 41vh;
  opacity: 0.8;
}

.react-datepicker__year-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 204px;
    padding-left: 14px;
}

.react-datepicker__year--container {
  font-family: monospace;
}
.date-movie-container{
    color: #f5f5f5;
    display: flex;
    width: 214.5vh;
    left: 14.5vh;
    right: 25vh;
    flex-flow: wrap;
    position: absolute;
    left: auto;
    right: 11vh;

}

.movie-date-card-container{
  cursor: pointer;
  grid-template-columns: repeat(auto-fill, minmax(220px));
  display: flex;
  flex-flow: wrap;
  top: 12vh;
  position: relative;
  left: 26vh;
}

// .movie-date-card{

// }

// .movie-date-image-card{

// }

// .description-date-card{

// }

// initial
